<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/navbar1.css')}}">
     {% block head %} {% endblock %}

</head>
<body bgcolor="#e1f5fe">
<div>
<ul id="menu-bar" style="align-items: self-end">
 <li><a href="{{url_for('home')}}">Home</a></li>
 <li><a href="#">Patient</a>
  <ul>
   <li><a href="{{url_for('create_patient')}}">Create &nbsp;Patient</a></li>
   <li><a href="{{url_for('update_patient')}}">Update &nbsp;Patient</a></li>
   <li><a href="{{url_for('delete_patient')}}">Delete &nbsp;Patient</a></li>
   <li><a href="{{url_for('show_record')}}">Show Records</a></li>
  </ul>
 </li>
 <li><a href="#">Medicine</a>
  <ul>
   <li><a href="{{url_for('add_meds')}}">Add Medicine</a></li>
   <li><a href="{{url_for('show_meds_record')}}">Medicine Record</a></li>
  </ul>
 </li>
    <li><a href="#">Diagnosis</a>
  <ul>
   <li><a href="{{url_for('add_diagnosis')}}">Add diagnosis</a></li>
   <li><a href="{{url_for('show_diagnosis_record')}}">Diagnosis Record</a></li>
  </ul>
 </li>
    <li><a href="#">Billing</a>
  <ul>
   <li><a href="#">Medicine Bill</a></li>
   <li><a href="#">Diagnosis Bill</a></li>
   <li><a href="#">Total Bll</a></li>
  </ul>
 </li>
    <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</li>
 <li style="alignment: right"><a href="{{url_for('logout')}}">Logout</a></li>
</ul>
    </div>
<br>
<br>
<div style="margin-left: 20px;margin-right: 20px;background-color: #e1f5fe;min-height: auto;padding: 5px 10px;border-radius: 3px">
{% block body %} {% endblock %}
    </div>

</body>
</html>